@import "./global.css";
@import "./rotatingGlobe.css";
@import "./flippingCards.css";

.Heading {
    position: absolute;
    top: 10px;
    left: 750px;
    right: 600px;
    color: azure;
    background: linear-gradient(89.84deg, #228830 12.18%, #13191a 53.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-container {
  top:1300px;
  left:400px;
    position: relative;
    display: inline-block;
  
}

.zel,
.voda,
.agri {
    width: 350px;
    height: 450px;
    transition: opacity 0.5s ease;
}

.zel:hover,
.voda:hover,
.agri:hover {
    opacity: 0; 
}

.text-on-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    opacity: 0; 
    transition: opacity 0.5s ease; 
    
  
}
.image-container:hover .text-on-hover {
  opacity: 1; 
}
.snimki {
  position: absolute;
  top: 190vh;
}
a{
  text-decoration: none;
  color: #13191a;
}
.introduction {
  position: absolute;
  top: 300px;
  right: 1100px;
  transform: rotate(-45);
  color: rgb(0, 0, 0);
  left: 50px;
  font-size: 1.3rem;
  text-align: justify;
}
.button {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 390px;
  top: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  background: rgb(11, 99, 3);
  border-radius: 15px;
  transition: background-color 0.15s,
      color 0.15s;
      background: #228830;
    color: white;
}
.button:hover{
  background-color: #00b01d;

}
.button:active{
  opacity: 1;
}
.buttontext {
  color: white;
  text-decoration: none;
  position: absolute;
}
.intimg{
  position:absolute;
  width: 1000px;
  left:860px;
  top:250px;
}
.zelt,
.vodat,
.agrit{
  position:absolute;
  top:130vh;

  background-clip: text;
  font-size: 2rem;
}
.vodat{
  left:800px;
}  
.zelt{
  left:500px;
}
.agrit{
  left:1140px;
}
/* Logo Carousel */
@keyframes slide {
  from {
  transform: translateX(0);
  }
  to {
  transform: translateX(-100%);
  }
  }
  .logos {
  overflow: hidden;
  padding: 60px 0;
  top: 350px;
  white-space: nowrap;
  position: relative;
  margin: 0 15px;
  }
  .logos:before,
  .logos:after {
  position: absolute;
  top: 300px;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
  }
  .logos:before {
  left: 0;
  
  }
  .logos:after {
  right: 0;
  
  }
  .logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
  }
  .logos-slide img {
  height: 90px;
  margin: 0 30px;
  }

  .maincontainer{
    left: 25%;
  }